<div class="container">
    <div class="part1">
        <div class="header">
        <img src="assets/klm-logo.png" class="logo">
        </div>
        <h1>KLM Vluchten</h1>
        <input class="search-input-field" type="text" name="flightNumber" maxlength="6" (keyup)="inputFlightNum($event.target.value)">
        <div (click)="search()" class="search-btn">Zoeken</div>
        <span [hidden]="inputValid">Vluchtnummer is ongeldig.</span>
    </div>


    <mat-paginator [length]="length"
              [pageSize]="10"
              (page)="pageEvent = getFlightsByPage($event)">
    </mat-paginator>

    <div class="part2">
        <p class="today">Vandaag, {{ todaysDate | date:'dd MMMM yyyy - HH:MM'}}</p>

        <div class="isLoading" [hidden]="!isLoading">
            <img src="../../assets/loader.gif" style="width:40px;">
        </div>
        
        <div class="card" *ngFor="let flight of flights" [hidden]="isLoading">
            <mat-grid-list cols="5" rowHeight="4:3">
            <mat-grid-tile class="card-left">
                Van:<br/><br/>
                {{ flight.flightLegs[0].departureInformation.airport.city.name }}<br/>
                {{ flight.flightLegs[0].departureInformation.times.scheduled | date:'dd LLL HH:MM' }}
                <!-- TODO add latestPublished times [Jackie] -->
                <!-- <span>{{ flight.flightLegs[0].departureInformation.times.latestPublished }}</span> -->
            </mat-grid-tile>
            <mat-grid-tile class="card-left">
                Naar:<br/><br/>
                {{ flight.flightLegs[0].arrivalInformation.airport.city.name }}<br/>
                {{ flight.flightLegs[0].arrivalInformation.times.scheduled | date:'dd LLL HH:MM' }}
                <!-- TODO add latestPublished times [Jackie] -->
                <!-- <span>{{ flight.flightLegs[0].arrivalInformation.times.latestPublished }}</span> -->
            </mat-grid-tile>
            <mat-grid-tile>
                Vlucht Nummer:<br/>
                {{ flight.flightLegs[0].aircraft.ownerAirlineCode }} {{ flight.flightNumber }}
            </mat-grid-tile>
            <mat-grid-tile [ngClass]="{'alert': flight.flightStatusPublic !== 'ON_TIME'}">
                Status:
                {{ flight.flightStatusPublicLangTransl }}
            </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>  
</div>