h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

@media only screen and (min-width: 900px) {
    .container {
        width: 900px;
    }
}

.container {
    background-color: #ffffff;
    height: auto;;
    margin: 50px auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    width: 100px;
}

.header {
    background-color: #ffffff;
}

.today {
    font-weight: bolder;
}

.part1 {
    padding: 20px 30px;
}

.part2 {
    padding: 20px 30px;
    background-color: #f2f1f4;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    padding: 20px 20px 20px 0;
    background-color: #ffffff;
}

.card-left, .card-middle {
    text-align: left;
    border-right: 1px dashed black;
}

.alert {
    color: red;
    font-weight: bolder;
}

.search-btn {
    cursor: pointer;
    border: 1px solid black;
    width: 55px;
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.search-input-field {
    height: 30px;
    font-size: 16px;
    font-weight: lighter;
}